<div class="container registration has-text-centered">
  <div>
    <h1 class="title">Join the club</h1>
    <form class="has-text-centered" method="POST" action="/register">
      <div class="field">
        <label for="username">Username</label>
        <input class="input" type="text" name="username" id="username" placeholder="Your desired username" required>
      </div>
      <div class="field">
        <label for="avatar">Avatar</label>
        <input class="input" type="text" name="avatar" id="avatar"
        placeholder="Link to your image here or use the default" pattern = "^http.*">
      </div>
      <div class="field">
        <label for="email">Email</label>
        <input class="input" type="text" name="email" id="email" placeholder="Enter your Email" required pattern = "^.*@.*\..*$">
      </div>
      <div class="field">
        <label for="password">Password</label>
        <input class="input" type="password" name="password" id="password" placeholder="Please enter your password" required>
      </div>
      <div class="field">
        <label for="passwordConfirmation">Password Confirmation</label>
        <input class="input" type="password" name="passwordConfirmation" id="passwordConfirmation" placeholder="Repeat your password" required>
      </div>
      <button class="button is-primary">Join the Club</button>
    </form>
  </div>
</div>
