<section class="hero is-large homepage">
  <div class="hero-body">
    <div class="container has-text-right">
      <h1 class="title">Keepin' it reel</h1>
      <h2 class="subtitle">The best arthouse cinemas in town</h2>
    </div>
  </div>
</section>
