<div class="container is-centered has-text-centered login">
  <div>
    <h1 class="title">Sit back, relax and enjoy the show</h1>
    <form method="POST" action="/login">
      <div class="field">
        <label for="email">Email</label>
        <input class="input" type="text" name="email" id="email">
      </div>
      <div class="field">
        <label for="password">Password</label>
        <input class="input" type="password" name="password" id="password">
      </div>
      <button class="button is-primary">Welcome back</button>
    </form>
  </div>
</div>
